@{
    ViewData["Title"] = "Home Page";
}

<style>
    .img {
        border-color: lightblue;
        border-width: thick;
    }
</style>

<div class="text-center">
    <h1 style="color:darkblue;" class="display-4">Welcome</h1>
    <img src="https://s7d2.scene7.com/is/image/TWCNews/cars_jpg-3" alt="Car Dealership"/>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
